@model IKProjesi.UI.Models.View.PersonelModel

@{
    ViewBag.Title = "Personel";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 style="text-align:center">Personel Listesi</h2>
<hr />
<p>
    @Html.ActionLink("Yeni Kayıt Ekle", "Ekle")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.personel.PersonelId)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.personel.PersonelAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.personel.PersonelSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.personel.Unvan)
        </th>

        <th>Güncelle</th>
        <th>Detay</th>
        <th>Sil</th>
    </tr>

    @foreach (var item in Model.list)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonelAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonelSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unvan)
            </td>

            <td>
                @Html.ActionLink("Güncelle", "Guncelle", new { id = item.PersonelId })
            </td>
            <td>
                @Html.ActionLink("Detay", "Detay", new { id = item.PersonelId })
            </td>
            <td>
                @Html.ActionLink("Sil", "Sil", new { id = item.PersonelId })
            </td>
        </tr>
    }

</table>


